%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'QBO Cambodia', root_path, class: 'navbar-brand'
    #navbar.navbar-collapse.collapse
      .navbar-form.navbar-right
        - if user_signed_in?
          .navbar-right
            = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn'
        - elsif controller_name == 'home'
          = form_tag session_path(:user) do
            .form-group
              = text_field_tag 'user[email]', nil, placeholder: 'Email', type: 'email', class: 'form-control', required: true
            .form-group
              = password_field_tag 'user[password]', nil, placeholder: 'Password', class: 'form-control', required: true
            %button.btn.btn-success{:type => "submit"} Sign in
          = link_to 'Sign Up', new_user_registration_path
          = link_to 'Forget Password', new_user_password_path
