.row
  .col-xs-4
    = wicked_pdf_image_tag 'logo.png', height: 90
  .col-xs-8.col-xs-pull-1.title-padding
    %h2.km.text-center
      %b
        %u=@invoice.title_kh
    %h2.en.text-center
      %b= @invoice.title
%hr{style: "border-bottom: 1px solid black;"}
.row
  .col-xs-8
    .rotati-border-box
      %p.strong Name : ROTATI LTD
      %p.km ផ្ទះលេខ #​២C ផ្លូវ​ ៤៩០ សង្កាត់ ផ្សារដើមថ្កូវ ខ័ណ្ឌ ចំការមន ភ្នំពេញ
      %p.contact លេខទូរស័ព្ទ (Tel) +855 98/99 999 426
      %p #2C, Street 490, Sangkat Phsar Daeum Thkov, Khan Chamkar Mon, Phnom Penh, Kingdom of Cambodia.
  .col-xs-4
    .row
      .col-xs-4
        %p.km វិក្ក័យបត្រធម្មតា
      .col-xs-8
        %p= ": #{@invoice.doc_number}"
    .row
      .col-xs-4
        %p Commercial Invoice
      .col-xs-8
        %p= ": #{@invoice.doc_number}"
    .row
      .col-xs-4
        %p.km កាលបរិច្ឆេទ
      .col-xs-8
        %p= ": #{@invoice.txn_date_formated_km}"
    .row
      .col-xs-4
        %p Date
      .col-xs-8
        %p= ": #{@invoice.txn_date_formated}"
.row
  .col-xs-8
    .rotati-border-box
      %p.strong= "Name: #{@invoice.customer_name}"
      %p= "Add: #{@invoice.full_billing_address}"
      - if @invoice.customer_tel
        %p= "Tel: #{@invoice.customer_tel}"
      - if @invoice.customer.alternate_phone.present?
        %p= "VAT: #{@invoice.customer.alternate_phone.free_form_number}"
      %p= "Email: #{@invoice.customer.primary_email_address.try(:address)}"
.row
  .col-md-12
    %table.table
      %thead
        %tr.strong.text-center
          %td.text-left.item-no
            %p.km ល.រ
            %p No.
          %td
            %p.km បរិយាយមុខទំនិញ
            %p.uppercase Description
          %td.item-quantity.col-80
            %p.km បរិមាណ
            %p.uppercase QTY
          %td.col-130
            %p.km តម្លៃឯកតា
            %p.uppercase Unit Price
          %td.col-130
            %p.km ថ្លៃទំនិញ
            %p.uppercase Total Amount
      %tbody
        - @invoice.line_items.select(&:sales_item?).each_with_index do |item, index|
          %tr.break
            %td.line.item-no= index + 1
            %td.line.item
              %pre.description= item.description
            %td.text-center.line.item-quantity
              - item_quan = (item.sales_line_item_detail.quantity % 1) != 0 ? item.sales_line_item_detail.quantity : item.sales_line_item_detail.quantity.to_i
              = item_quan
            %td.line
              %span.pull-left= @invoice.currency.symbol
              %span.pull-right= number_to_currency(format('%.2f', item.sales_line_item_detail.unit_price), unit: '$ ')
            %td.line
              %span.pull-left= @invoice.currency.symbol
              %span.pull-right= number_to_currency(format('%.2f', item.amount), unit: '$ ')

        %tr.break
          %td.line.text-right{ colspan: "3" }
            សរុប (បូកបញ្ចូលទាំងអាករ)
            %br Total (VAT included)
          %td.line{ colspan: "2" }
            %span.pull-left KHR:
            %span.pull-right= number_to_currency(format('%.2f', @invoice.home_total + @invoice.txn_tax_detail.total_tax), unit: '៛ ')
            %br
            %span.pull-left USD:
            %span.pull-right= number_to_currency(format('%.2f', @invoice.total_amount + (@invoice.txn_tax_detail.total_tax * @invoice.exchange_rate)), unit: '$ ')

.row.memo.bank-info
  .col-xs-6.text-left
    %p
      Note: All payment could be paid by Cash Or Bank,
      %br
      Or Cross Cheque to ABA Bank:
      %br
      Account Name: ROTATI CO.,LTD
      %br
      Account Number: 000240588
      %br
      SWIFT Code : ABAAKHPP
      %br
      = "Exchange Rate: 1USD = KHR: #{number_to_currency(format('%.2f', @invoice.exchange_rate), unit: '')}"
.row.signatures
  .col-xs-6.text-center
    %p ____________________________
    %p.km ហត្ថលេខា និង ឈ្មោះអតិថិជន
    %p Customer's Name & Signature
  .col-xs-6.text-center
    %p ____________________________
    %p.km  ឈ្មោះ និង ហត្ថលេខាពីក្រុមហ៊ុនរ៉ូតាទី
    %p Rotati Authorized Name & Signature

