%tr{ class: wrong_id_sequence?(debits) ? "alert-danger clickable-row" : "clickable-row", data: { translation_url: create_customer_translation_path(debits.customer_ref.value), customer_name: debits.customer_name, billing_address: debits.full_billing_address, invoice_id: debits.doc_number, translation: { name: debits.customer_translation.try(:name), billing_address: debits.customer_translation.try(:billing_address) }  } }
  
  - unless wrong_id_sequence?(debits)
    %th{ scope: 'row'}= invoice_link(debits, @credential)
  - else
    %th= debits.doc_number
  
  %td
    = edit_translation(debits, @credential)
    - if wrong_id_sequence?(debits)
      %p
        ="This invoice is not using the correct ID format or sequence. Please "
        = link_to "edit the ID in QBO", "https://sandbox.qbo.intuit.com/app/invoice?txnId=#{debits.id}", target: '_blank'
  
  %td= "#{debits.currency.symbol} #{debits.total}"
  
  %td= debits.due_date.to_formatted_s(:custom_format)

   