.row
  .col-xs-12
    .col-xs-4.zeo-padding
      .text-left
        = wicked_pdf_image_tag 'logo.png', height: 90
    .col-xs-8
      .text-left
        .company-name.strong
          %h3.km រ៉ូតាទី
          %h3 ROTATI Co.Ltd
        %p.km លេខអត្តសញ្ញាណកម្ម អបត (VATTIN) K002-901504677
        %p.km ផ្ទះលេខ #​២C ផ្លូវ​ ៤៩០ សង្កាត់ ផ្សារដើមថ្កូវ ខ័ណ្ឌ ចំការមន ភ្នំពេញ
  .col-xs-12
    .text-center
      %p.contact លេខទូរស័ព្ទ (Tel) +855 98/99 999 426: , Fax: (855/............................សារអេឡិចត្រូនិច (E-mail) :info@rotati.tech
      %p #2C, Street 490, Sangkat Phsar Daeum Thkov, Khan Chamkar Mon, Phnom Penh, Kingdom of Cambodia.
  .col-xs-12.text-center
    .row.title.strong
      %h4.km=@invoice.title_kh
      %h4= @invoice.title
    .row
      .col-xs-8.text-left.left-10
        .customer.strong
          .row
            .col-xs-3.text-right
              %p.km អតិថិជន:
            .col-xs-9.text-left.left-25
              %p.km= " #{@invoice.customer_translation.name}"
        .billing-address
          .row
            .col-xs-3.text-right
              %p Customer:
            .col-xs-9.text-left.left-25
              .customer-border-box
                %p.strong= "Name: #{@invoice.customer_name}"
                %p.km= "អាសយដ្ឋាន: #{@invoice.customer_translation.billing_address}"
                %p= "Add: #{@invoice.full_billing_address}"
                - if @invoice.customer_tel
                  %p= "Tel: #{@invoice.customer_tel}"
                - if @invoice.customer.alternate_phone.present?
                  %p= "VAT: #{@invoice.customer.alternate_phone.free_form_number}"

      .col-xs-4.text-right
        .invoice-number
          .row
            .col-xs-6.text-right.pad-left-0
              %p.km លេខរៀងវិក័យបត្រ:
            .col-xs-6.text-left.left-25.pad-right-0
              %p.strong= "#{@invoice.doc_number.gsub('RTT-','')}"
          .row
            .col-xs-6.text-right.pad-left-0
              %p Invoice No:
            .col-xs-6.text-left.left-25.pad-right-0
              %p.strong= "#{@invoice.doc_number.gsub('RTT-','')}"
        .invoicing-date
          .row
            .col-xs-6.text-right.pad-left-0
              %p.km កាលបរិច្ឆេទ:
            .col-xs-6.text-left.left-25.pad-right-0
              %p.km.strong= " #{@invoice.txn_date_formated_km}"
          .row
            .col-xs-6.text-right.pad-left-0
              %p Date:
            .col-xs-6.text-left.left-25.pad-right-0
              %p.strong= " #{@invoice.txn_date_formated}"
.row
  .col-md-12
    %table.table
      %thead
        %tr.strong.text-center
          %td.text-left.item-no
            %p.km ល.រ
            %p No.
          %td
            %p.km សេវាកម្ម
            %p.uppercase PRODUCT/SERVICE
          %td
            %p.km បរិយាយមុខទំនិញ
            %p.uppercase Description
          %td.item-quantity.col-130
            %p.km បរិមាណ
            %p.uppercase QTY
          %td.col-80
            %p.km តម្លៃឯកតា
            %p.uppercase Unit Price
          %td.col-80
            %p.km ថ្លៃទំនិញ
            %p.uppercase Total Amount
      %tbody
        - @invoice.line_items.select(&:sales_item?).each_with_index do |item, index|
          %tr.break
            %td.line.item-no= index + 1
            %td.line.item
              %p.product= item.sales_line_item_detail.item_ref.name
            %td.line.item
              %p.description= item.description.html_safe()
            %td.text-center.line.item-quantity
              - item_quan = (item.sales_line_item_detail.quantity % 1) != 0 ? item.sales_line_item_detail.quantity : item.sales_line_item_detail.quantity.to_i
              = item_quan
            %td.line
              %span.pull-left= @invoice.currency.symbol || '៛'
              %span.pull-right= format('%.2f', item.sales_line_item_detail.unit_price)
            %td.line
              %span.pull-left= @invoice.currency.symbol || '៛'
              %span.pull-right= format('%.2f', item.amount)

        %tr.break
          %td.line.text-right{ colspan: "4" }
            សរុប 
            %br Subtotal
          %td.line{ colspan: "2" }
            %span.pull-left KHR:
            %span.pull-right= "#{@invoice.currency.symbol || '៛'} #{format('%.2f', @invoice.sub_total.amount)}"
            %br
            %span.pull-left USD:
            %span.pull-right= "$ #{format('%.2f', (@invoice.sub_total.amount * @invoice.exchange_rate).to_f)}"

        - if @invoice.discount?
          %tr.break
            %td.line.text-right{ colspan: "4" }
              ="បញ្ចុះតម្លៃ #{@invoice.discount_as_percent}"
              %br= "Discount #{@invoice.discount_as_percent}"

            %td.line{ colspan: "2" }
              %span.pull-left KHR:
              %span.pull-right= "#{@invoice.currency.symbol || '៛'} #{format('%.2f', @invoice.discount_as_amount)}"
              %br
              %span.pull-left USD:
              %span.pull-right= "$ #{format('%.2f', (@invoice.discount_as_amount * @invoice.exchange_rate).to_f)}"

        - if @invoice.txn_tax_detail.present? && @invoice.txn_tax_detail.total_tax > 0.0
          %tr.break
            %td.line.text-right{ colspan: "4" }
              អាករលើតម្លៃបន្ថែម ១០%
              %br VAT ( 10%)
            %td.line{ colspan: "2" }
              %span.pull-left KHR:
              %span.pull-right= "#{@invoice.currency.symbol || '៛'} #{format('%.2f', @invoice.txn_tax_detail.total_tax)}"
              %br
              %span.pull-left USD:
              %span.pull-right= "$ #{format('%.2f', (@invoice.txn_tax_detail.total_tax * @invoice.exchange_rate).to_f)}"

        %tr.break
          %td.line.text-right{ colspan: "4" }
            សរុបរួម
            %br Total
          %td.line{ colspan: "2" }
            %span.pull-left KHR:
            %span.pull-right= "#{@invoice.currency.symbol || '៛'} #{format('%.2f', @invoice.total_amount)}"
            %br
            %span.pull-left USD:
            %span.pull-right= "$ #{format('%.2f', @invoice.home_total)}"

.row.memo.bank-info
  .col-xs-6.text-left
    %p
      Note: All payment could be paid by Cash Or Bank,
      %br
      Or Cross Cheque to ABA Bank:
      %br
      Account Name: ROTATI CO.,LTD
      %br
      Account Number: 000240588
.row.signatures
  .col-xs-6.text-center
    %p ____________________________
    %p.km ហត្ថលេខា និង ឈ្មោះអតិថិជន
    %p Customer's Name & Signature
  .col-xs-6.text-center
    %p ____________________________
    %p.km  ឈ្មោះ និង ហត្ថលេខាពីក្រុមហ៊ុនរ៉ូតាទី
    %p Rotati Authorized Name & Signature
    
