.container-fluid
  = render 'translation_modal'
  = render 'invoice_header', credential: credential
  .panel.panel-default
    .panel-heading
      = render 'invoice_navigator', credential: credential, invoices_no: @invoice_no, debit_no: @debit_no, commercial_no: commercial_no
    .panel-body
      %table.table
        %thead
          %tr
            %th ID
            %th Receipt
            %th Customer
            %th Total Amount
            %th Due Date
            %th Action    
        %tbody
          = render 'invoice', invoices: invoices
      .pageinate.text-center
        = paginate invoices
    