!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    = render 'font.html.erb'
    = wicked_pdf_stylesheet_link_tag 'invoice.pdf'
  %body{id:"#{css_class}"}
    - if @invoice.private_note.present? && @invoice.private_note.include?('debitnote')
      = render 'debit_note', collection: @invoice
    - else
      = render 'invoice_note', collection: @invoice