.container
  %h1= "#{@customer[:name]}'s Detail"
  .row
    - if @customer_translation.present? 
      .col-xs-2 
        %h3 Translation
      .col-xs-10
        %h3= ": #{@customer_translation.name}"
  .row
    - if @customer[:address].present?
      .col-xs-2
        %h3 Address
      .col-xs-10
        %h3= ": #{@customer[:address]}"
        %h3 
          &nbsp;&nbsp;
          = @customer_translation.billing_address
  .row
    - if @customer[:phone].present?
      .col-xs-2
        %h3 Phone
      .col-xs-10
        %h3= ": #{@customer[:phone]}"
  .row
    -if @customer[:email].present?
      .col-xs-2
        %h3 Email
      .col-xs-10
        %h3= ": #{@customer[:email]}"