.container-fluid
  .row
    .col-xs-4
      = link_to company_invoices_path(@company), class: 'title-margin'do
        %h4 
          = @company.company_name
    .col-xs-8.text-right#search
      = form_tag company_invoices_path(@company), method: 'get', class: 'navbar-form navbar-right' do
        .form-group
          .row
            .col-xs-8
              = text_field_tag :id, nil, class: 'form-control', placeholder: 'Search by Id', required: true
            .col-xs-4
              = submit_tag 'Search', class: 'btn btn-default'
  .panel.panel-default
    .panel-heading
      =render 'companies_navigator', company: @company, invoice: @invoice, debit: @debit, commercial: @commercial
